<div class="row">
  <div class="col-xs-12">
    <h1>{{ client.company }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Client <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a routerLink="edit" style="cursor: pointer">Edit Client</a>
        </li>
        <li>
          <a style="cursor: pointer" (click)="onDelete()">Delete Client</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ client.email }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let field of client.fields">
        {{ field.name }} ({{ field.description }})
      </li>
    </ul>
  </div>
</div>
