<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="fieldForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!fieldForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label
            ><input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label
            ><input
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">E-mail</label
            ><input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="client">Client</label>
            <select class="form-control" formControlName="client">
              <option selected value="-1">Please select client</option>
              <option
                *ngFor="let client of clients; let i = index"
                value="{{ i }}"
                >{{ client.firstName | slice: 0:10 }} -
                {{ client.company | slice: 0:20 }}</option
              >
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="events">
          <label for="client" *ngIf="eventsControls.length > 0">Events</label>
          <div
            class="row"
            *ngFor="let eventControl of eventsControls; let i = index"
            style="margin-top: 5px"
            [formGroupName]="i"
          >
            <div class="col-xs-8">
              <select class="form-control" formControlName="eventType">
                <option selected value="-1">Please select an event type</option>
                <option
                  *ngFor="let eventType of eventTypes; let i = index"
                  value="{{ i }}"
                  >{{ eventType.name | slice: 0:15 }} -
                  {{ eventType.description | slice: 0:20 }}</option
                >
              </select>
            </div>
            <div class="col-xs-3">
              <input type="date" formControlName="date" class="form-control" />
            </div>
            <div class="col-xs-1">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteEvent(i)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                class="btn btn-success"
                type="button"
                (click)="onAddEvent()"
              >
                Add Event
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
