<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!clientForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <!-- firstName & lastName -->
      <div class="row">
        <!-- firstName -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="firstName" class="required">First Name</label
            ><input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="form-control"
            />
            <div
              *ngIf="
                firstName.invalid && (firstName.dirty || firstName.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="firstName.hasError('minlength')">
                {{ messages.minLength("First Name") }}
              </div>
              <div *ngIf="firstName.hasError('required')">
                {{ messages.required("First Name") }}
              </div>
              <div *ngIf="firstName.hasError('pattern')">
                {{ messages.pattern("First Name") }}
              </div>
            </div>
          </div>
        </div>
        <!-- lastName -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="lastName" class="required">Last Name</label
            ><input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control required"
            />
            <div
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="lastName.hasError('minlength')">
                {{ messages.minLength("Last Name") }}
              </div>
              <div *ngIf="lastName.hasError('required')">
                {{ messages.required("Last Name") }}
              </div>
              <div *ngIf="lastName.hasError('pattern')">
                {{ messages.pattern("Last Name") }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- email & company -->
      <div class="row">
        <!-- email -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="email" class="required">E-mail</label
            ><input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="email.hasError('required')">
                {{ messages.required("E-mail") }}
              </div>
              <div *ngIf="email.hasError('email')">
                {{ messages.pattern("E-mail") }}
              </div>
            </div>
          </div>
        </div>
        <!-- company -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="company">Company</label
            ><input
              type="text"
              id="company"
              formControlName="company"
              class="form-control"
            />
            <div
              *ngIf="company.invalid && (company.dirty || company.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="company.hasError('minlength')">
                {{ messages.minLength("Company") }}
              </div>
              <div *ngIf="company.hasError('pattern')">
                {{ messages.pattern("Company") }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- address -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Address</label
            ><input
              type="text"
              id="address"
              formControlName="address"
              class="form-control"
            />
            <div
              *ngIf="address.invalid && (address.dirty || address.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="address.hasError('minlength')">
                {{ messages.minLength("Address") }}
              </div>
              <div *ngIf="address.hasError('pattern')">
                {{ messages.pattern("Address") }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- postalCode & state & city -->
      <div class="row">
        <!-- postalCode -->
        <div class="col-xs-4">
          <div class="form-group">
            <label for="postalCode">Postal Code</label
            ><input
              type="text"
              id="postalCode"
              formControlName="postalCode"
              class="form-control"
            />
            <div
              *ngIf="
                postalCode.invalid && (postalCode.dirty || postalCode.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="postalCode.hasError('pattern')">
                {{ messages.pattern("Postal Code") }}
              </div>
            </div>
          </div>
        </div>
        <!-- state -->
        <div class="col-xs-4">
          <div class="form-group">
            <label for="stateIndex">State</label>
            <select class="form-control" formControlName="stateIndex">
              <option selected value="-1">Please select a state</option>
              <option
                *ngFor="let state of states.values; let i = index"
                value="{{ i }}"
                >{{ state.name | slice: 0:20 }}</option
              >
            </select>
          </div>
        </div>
        <!-- city -->
        <div class="col-xs-4">
          <div class="form-group">
            <label for="city">City</label
            ><input
              type="text"
              id="city"
              formControlName="city"
              class="form-control"
            />
            <div
              *ngIf="city.invalid && (city.dirty || city.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="city.hasError('minlength')">
                {{ messages.minLength("City") }}
              </div>
              <div *ngIf="city.hasError('pattern')">
                {{ messages.pattern("City") }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- active -->
      <div class="row" *ngIf="isEditMode">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="active">Active</label>
            <label class="switch">
              <input
                type="checkbox"
                id="active"
                formControlName="active"
                class="form-control"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
