<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!clientForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <!-- firstName & lastName -->
      <div class="row">
        <!-- firstName -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="firstName">Name</label
            ><input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="form-control"
            />
          </div>
        </div>
        <!-- lastName -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="lastName">Surname</label
            ><input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <!-- email & company -->
      <div class="row">
        <!-- email -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="email">E-mail</label
            ><input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
          </div>
        </div>
        <!-- company -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="company">Company</label
            ><input
              type="text"
              id="company"
              formControlName="company"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <!-- address -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Address</label
            ><input
              type="text"
              id="address"
              formControlName="address"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <!-- postalCode & state & city -->
      <div class="row">
        <!-- postalCode -->
        <div class="col-xs-4">
          <div class="form-group">
            <label for="postalCode">Postal Code</label
            ><input
              type="text"
              id="postalCode"
              formControlName="postalCode"
              class="form-control"
            />
          </div>
        </div>
        <!-- state -->
        <div class="col-xs-4">
          <div class="form-group">
            <label for="stateIndex">State</label>
            <select class="form-control" formControlName="stateIndex">
              <option selected value="-1">Please select a state</option>
              <option
                *ngFor="let state of states.values; let i = index"
                value="{{ i }}"
                >{{ state.name | slice: 0:20 }}</option
              >
            </select>
          </div>
        </div>
        <!-- city -->
        <div class="col-xs-4">
          <div class="form-group">
            <label for="city">City</label
            ><input
              type="text"
              id="city"
              formControlName="city"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <!-- active -->
      <div class="row" *ngIf="isEditMode">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="active">Active</label>
            <label class="switch">
              <input
                type="checkbox"
                id="active"
                formControlName="active"
                class="form-control"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <!-- fields -->
      <div class="row">
        <div class="col-xs-12" formArrayName="fields">
          <div
            class="row"
            *ngFor="let fieldControl of fieldsControls; let i = index"
            style="margin-top: 5px"
            [formGroupName]="i"
          >
            <div class="col-xs-8">
              <input type="text" formControlName="name" class="form-control" />
            </div>
            <div class="col-xs-2">
              <input type="text" formControlName="city" class="form-control" />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteField(i)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                class="btn btn-success"
                type="button"
                (click)="onManageClient()"
              >
                Manage Client
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
