<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="alertTypeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!alertTypeForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <!-- name -->
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <label for="name" class="required">Name</label
            ><input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
            <div
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="name.hasError('required')">
                {{ messages.required("Name") }}
              </div>
            </div>
          </div>
        </div>
        <!-- numberOfDaysToWarning -->
        <div class="col-xs-4">
          <div class="form-group">
            <label for="numberOfDaysToWarning" class="required">Qt. dias</label
            ><input
              type="text"
              id="numberOfDaysToWarning"
              formControlName="numberOfDaysToWarning"
              class="form-control"
            />
            <div
              *ngIf="
                numberOfDaysToWarning.invalid &&
                (numberOfDaysToWarning.dirty || numberOfDaysToWarning.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="numberOfDaysToWarning.hasError('required')">
                {{ messages.required("Days quantity") }}
              </div>
              <div *ngIf="numberOfDaysToWarning.hasError('pattern')">
                {{ messages.mustBeNumber("Days quantity") }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- active -->
      <div class="row" *ngIf="isEditMode">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="active">Active</label>
            <label class="switch">
              <input
                type="checkbox"
                id="active"
                formControlName="active"
                class="form-control"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
